/***** BASE *****/

body {
  background-color: #fff !important;
}

main {
  padding-top: 4rem;
}

@media screen and (max-width: 1200px) {
  main {
    padding-top: 3.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

ul {
  padding: 0;
  list-style-type: none;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/***** NAVBAR *****/

.navbar {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#basicExampleNav {
  margin-top: 5px;
}

.navbar-toggler {
  padding: 0;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  padding: 0.5rem;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar .dropdown-menu a {
  color: #000 !important;
  padding: 5px;
}

.navbar .dropdown-menu a:not(:last-child) {
  margin-bottom: 5px;
}

.navbar .dropdown-menu .active {
  color: #fff !important;
  background-color: #2bbbad !important;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#nav-font {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.dropdown-menu a:hover {
  color: #fff !important;
  background-color: #2bbbad !important;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 892px) {
  .navbar-nav {
    align-items: flex-start;
  }
  .navbar .dropdown-menu {
    left: 0;
  }
}

/***** PROFILE *****/

#profile-wrapper {
  text-align: center;
}

.profile-img {
  width: 35px;
}

#profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

/***** SOCIAL LINKS *****/

.social-links a {
  color: #000;
}

.social-links a:hover {
  color: #2bbbad;
}

.social-links ul,
li {
  list-style-type: none;
  display: inline-block;
}

.social {
  width: 20px;
  height: 20px;
}

/***** CARD *****/

.card-img-top {
  width: 100%;
  height: 22.5vh;
  object-fit: cover;
}

.card .card-body .card-text {
  font-size: 1rem;
}

/***** POST *****/

.post-detail-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.post-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-data img {
  margin-right: 0.1rem;
}

@media screen and (max-width: 401px) {
  .post-info p {
    font-size: 0.9rem;
  }
  .post-data .btn-floating {
    margin: 0;
  }
}

@media screen and (max-width: 365px) {
  .post-data {
    flex-wrap: wrap;
  }
  .post-data .circle-icons {
    margin: 0 auto;
  }
  .post-data .btn-floating {
    margin: 3px;
  }
  .post-info {
    margin: 0 auto;
  }
  .post-info p {
    margin-bottom: 10px;
  }
}

/***** BUTTONS *****/

.btn.btn-default.mixitup-control-active {
  background-color: #000 !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn {
  color: #fff;
}

.btn:hover {
  color: #fff;
}

.btn-rounded {
  border-radius: 10em;
}

.btn-fb {
  background-color: #4264aa;
}

.btn-tw {
  background-color: #55acee;
}

.btn-gplus {
  background-color: #e15f4f;
}

.btn.btn-sm .fab {
  font-size: 0.7rem;
}

.btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 5px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px;
}

.btn-floating.btn-sm {
  width: 36.15385px;
  height: 36.15385px;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center;
}

.btn-floating.btn-sm i {
  font-size: 0.96154rem;
  line-height: 36.15385px;
}

/***** COMMENTS *****/

.comment-list {
  margin-bottom: 0.5rem;
}

#comments-list .row:last-child {
  margin-bottom: 1rem !important;
}

.comment-row {
  padding: 0 12.5px;
  margin-bottom: 2.5rem;
}

.comment-image-container {
  text-align: center;
  margin-right: 1.5rem;
}

.child-comment {
  margin-left: 100px;
}

@media screen and (max-width: 768px) {
  .comment-image-container .avatar {
    max-width: 75px;
  }
  .comment-row {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .comment-list {
    padding-left: 0;
  }
  .child-comment {
    margin-left: 60px;  
}


@media screen and (max-width: 384px) {
    .child-comment {
      margin-left: 30px;  
  }


/***** SIDEBAR *****/

@media screen and (max-width: 992px) {
  #sidebar {
    display: none;
  }
}
.circle-icons-sidebar i {
  text-align: center;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid #e0e0e0;
  color: #bdbdbd;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.circle-icons-sidebar i.fa-facebook-f:hover {
  background-color: #3b5998;
  color: #fff;
}

.circle-icons-sidebar i.fa-twitter:hover {
  background-color: #55acee;
  color: #fff;
}

.circle-icons-sidebar i.fa-google-plus-g:hover {
  background-color: #dd4b39;
  color: #fff;
}

.archive ul li {
  padding-top: 0.8rem;
  border-top: 1px solid #eceeef;
  padding-bottom: 0.3rem;
}

.archive ul li:first-of-type {
  border-top: none;
}

/***** OTHER *****/
.fab {
  font-size: 1.8rem;
}

.blog-home p {
  font-size: 0.9rem;
}

.blog-home .btn {
  border-radius: 10rem;
}

.read-more {
  color: #fff;
}

.read-more:hover {
  color: #fff;
}

.avatar {
  max-width: 100px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #49e2bb;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(43, 187, 173, 0.49);
}
